# Replace OWNER with the GitHub account or organization that owns this repository.
METRO_WORLD_IMAGE=ghcr.io/OWNER/metro-world:dev-latest
METRO_WORLD_PORT=25565
METRO_WORLD_LEVEL=btr-test
METRO_WORLD_VOLUME_NAME=btr-infrastructure_btr-world
EULA=FALSE
